<div class="section" id="about">
  <div class="container">
    <div class="h4 text-center mb-4 title">About Me</div>
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello I'm <strong>Motsamai Mojake</strong>I'm a Front-End Developer for iOCO in Cape Town, South Africa.I have serious passion for GUI effects, So My layouts will work on any device, big or small and Websites don't have to be static, I love making pages come to life</p>
            <p>I am a Lover of innovation and everything related to generating new knowledge.I face problems with a smile and solve them as soon as possible.I am very calculated about the time I spend on the work I do.</p>
            <p>I am willing to learn new things every day, open-minded and always invite critique from fellow developers for me to Improve. I have a soft spot for software-engineering principles. I love building applications and websites; I aspire to be a solutions architect someday.</p>

          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">March 23, 1989</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">Mojakem39@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+27 738801934</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">4586 Lillian Ngoyi drive, Weltevreden valley, Capetown,7785
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>