<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2013</p>
            <div class="h5">3 Years National Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">National Diploma : Information Technology</div>
            <h4 class="category">Central University Of Technology,Fs
            </h4>
            <ul>
              <li> One of the best student in IT mathematics and <b>ranks 3rd with 83%</b> in class of 2009 </li>
              <li> One of the best student in Business communication and <b>ranks 2nd with 79%</b> in class of 2009 </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2018</p>
            <div class="h5">Microsoft International Certificate</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Microsoft Certified Solution Associate(MCSD App Builder)</div>
            <h4 class="category">EOH Coastal</h4>
            <ul>
              <li>
                Firstly obtained Microsoft Technology Associate
              </li>
              <li>
                Secondly obtained Microsoft Certified Solution Associate
              </li>
              <li>
                Lastly obtained Microsoft Certified Solution Developer
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2003 - 2007</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">High School Matric Certificate</div>
            <h4 class="category">Lekgarietse Secondary School
            </h4>
            <ul>
              <li>The Secondary aims at Mathematics, Physical Science, Biology,  Languages.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>