<app-scroll-to-top></app-scroll-to-top> 
<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/mojake39m/" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.linkedin.com/in/mojake-motsamai-4ba9a14b/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/MMojake" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-instagram btn btn-link " href="https://github.com/Mojake-Motsamai" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>Copyright &copy; 2021 developed With ❤️ by Motsamai Mojake</p>
    </div>
  </footer>