<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div> 
     <div class="row">
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Full stack CRUD Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b>C#(Asp.net),Angular and SQL  </h5>
          <a href="https://github.com/Mojake-Motsamai/CRUD" class="btn btn-primary stretched-link" target="_blank" >GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p1.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Online Cv Using Angular 8</h4>
           <h5 class="card-text"><b>Technology :</b> Angular 8,Typescript, Css, Scss, HTML, Bootstrap3  and JavaScript </h5>
          <a href="https://mojake-motsamai.github.io/eportfolio/" class="btn btn-primary stretched-link" target="_blank" >Live </a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">DreamShare Website Using Vanilla JavaScript</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3, and JavaScript </h5>
          <a href="https://github.com/Mojake-Motsamai/DreamShare" class="btn btn-primary stretched-link" target="_blank">GithubLink</a>
        </div>
      </div>
    </div>
    </div>    
    </div>
    </div>
  </div> 